.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgb(129, 129, 129);
}

.left-container {
    flex: 1 1 auto;
    order: 1;
    margin-bottom: 10px;
    margin-right: -200px;
    margin-left: 120px;
    padding-top: 10px;
}

.mid-container {
    flex: 1 1 auto;
    order: 2;
    text-align: left;
    margin-bottom: 10px;
    padding-top: 80px;
    margin-right: -100px;
    margin-left: 90px;
}

.right-container {
    flex: 1 1 auto;
    order: 3;
    text-align: left;
    margin-bottom: 10px;
    padding-top: 80px;
    margin-left: 10px;
    margin-right: 5px;
}

.bottom-container {
    width: 100%;
    order: 4;
    margin-top: 20px;
}

.mid-container a {
    display: block;
    text-decoration: none;
    color: inherit;
    margin-bottom: 10px;
}

.footer-link {
    margin: 0 2px;
    margin-bottom: 0px
}

.social-icons-f {
    display: flex;
    justify-content: center;
    margin-top: -50px;
    margin-right: 100px;
    margin-left: -150px;
}

.social-icon-f {
    margin: 0 -20px;
    width: 100px;
    height: 100px;
}

.logo-container {
    text-align: center;
}

.left-container p,
.mid-container p,
.right-container p,
.bottom-container p {
    color: rgb(231, 231, 231);
}

.left-container h1,
.left-container h2 {
    color: rgb(255, 255, 255);
}

.mid-container h1,
.mid-container h2,
.right-container h1,
.right-container h2 {
    /* #064f7a; */
    /* #6295c7; */
    color: #064f7a;
}

a {
    color: rgb(255, 255, 255);
}