/* Home.css */

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 150px;
  margin-top: 10px;
  background-color: #ffffff;
  position: relative;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    visibility: visible;
  }

  100% {
    transform: translateX(0);
    visibility: visible;
  }
}


.text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 100px;
  padding: 20px;
  text-align: left;
  animation: slideInFromRight 2s ease-out;
  animation-fill-mode: forwards;
  visibility: hidden;
}

.buttons-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button {
  width: 90px;
  height: 40px;
  border-radius: 25px;
  background-color: #1a3d5f;
  border: 2px solid #767779;
  color: white;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  text-decoration: none;
  font-weight: normal;
}

.button:hover {
  background-color: #d5a141;
  border-color: #294a63;
  text-decoration: none;
}


.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* width: 40%;
  height: 100%; */
  background-color: #839fb5;
  padding: 20px;
  border-radius: 10px;
  border-color: #9a9a9a;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100px;
  width: 100px;
  margin: auto;
}

button {
  align-self: flex-end;
  margin-top: auto;
}

label {
  margin-bottom: 1em;
}

select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  background-color: #ddd;
  border: none;
}

.checkbox-container>div {
  display: flex;
  align-items: center;
}

.checkbox-container>div>input {
  margin-right: 10px;
}

.radio-container {
  display: flex;
  align-items: center;
}

.radio-container input[type="radio"],
.radio-container label {
  margin: 0;
  padding: 10px;
}

.buttons-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button-2 {
  width: 70px;
  height: 40px;
  border-radius: 25px;
  background-color: #064f7a;
  border: 2px solid #064f7a;
  color: white;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  text-decoration: none;
  font-weight: normal;
}

.button-2:hover {
  background-color: #d5a141;
  border-color: #064f7a;
  text-decoration: none;
}


.lottie-container {
  position: absolute;
  top: 50px;
  left: 0;
  height: calc(100% - 50px);
  z-index: -1;
}

.text-container,
.form-container {
  position: relative;
  z-index: 1;
  /* Ensure content appears above the Lottie animation */
}

.content-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 150px;
  margin-top: -100px;
  background-color: #ffffff;
}


.text-container-2 h1 {
  color: #064f7a;
}

.text-container-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  max-width: 800px;
  padding: 20px;
  text-align: left;
  animation: slideInFromRight 2s ease-out;
  animation-fill-mode: forwards;
  visibility: hidden;

}


.image-container-2 {
  width: 50%;
  height: 50%;
}

.image-container-2 img {
  max-width: 50%;
  max-height: 50%;
  animation: popout 10s ease forwards;

}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    visibility: visible;
  }

  100% {
    transform: translateX(0);
    visibility: visible;
  }
}

@keyframes popout {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}



.content-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  margin-top: -300px;
  /* background-color: #839fb5; */
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    visibility: visible;
  }

  100% {
    transform: translateX(0);
    visibility: visible;
  }
}

.text-container-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  max-width: 800px;
  padding: 20px;
  text-align: left;
  animation: slideInFromRight 2s ease-out;
  animation-fill-mode: forwards;
  visibility: hidden;
  /* background-color: #839fb5; */
}



.image-container-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  height: 50%;
  /* object-fit: contain; */

}

.image-container-3 img {
  max-width: 50%;
  max-height: 50%;
  animation: popout 1s ease forwards;
  /* object-fit: contain; */

}


@keyframes popout {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.buttons-container-3 {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;

}

.button-3 {
  width: 150px;
  height: 40px;
  border-radius: 25px;
  background-color: #839fb5;
  border: 2px solid #839fb5;
  color: white;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 0 50px; */
  margin-top: 20px;
  margin-left: 0;
  text-decoration: none;
  font-weight: normal;

}

.button-3:hover {
  background-color: #d5a141;
  border-color: #839fb5;
  text-decoration: none;
}






.content-4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 150px;
  margin-top: -170px;
  background-color: #ffffff;
}

.content-4 h1 {
  color: #064f7a;
  /* Change to the color you want */
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    visibility: visible;
  }

  100% {
    transform: translateX(0);
    visibility: visible;
  }
}

.text-container-4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  max-width: 1000px;
  padding: 20px;
  text-align: left;
  animation: slideInFromRight 2s ease-out;
  animation-fill-mode: forwards;
  visibility: hidden;

}

.image-container-4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  height: 50%;
  /* Adjust this value as needed */
}

.image-container-4 img {
  max-width: 90%;
  max-height: 90%;
  animation: popout 1s ease forwards;
}

@keyframes popout {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.buttons-container-4 {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
}

.buttons-container-4-1 {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
}

.button-4 {
  width: 250px;
  height: 40px;
  border-radius: 25px;
  background-color: #839fb5;
  border: 2px solid #839fb5;
  color: white;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 0 50px; */
  margin-top: 20px;
  margin-left: 0;
  text-decoration: none;
  font-weight: normal;

}

.button-4:hover {
  background-color: #d5a141;
  border-color: #839fb5;
  text-decoration: none;
}