/* Home.css */

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 150px;
    margin-top: 10px;
    background-color: #ffffff;
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        visibility: visible;
    }

    100% {
        transform: translateX(0);
        visibility: visible;
    }
}

ttext-container {
    display: grid;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    padding: 70px;
    text-align: left;
    animation: slideInFromRight 2s ease-out;
    animation-fill-mode: forwards;
    visibility: hidden;
    /* font-size: px; */
}

.text-container h1 {
    font-size: 60px;
}

.buttons-container {
    display: flex;
    justify-content: center;
    /* Center the buttons horizontally */
    margin-top: 20px;
}

.button {
    width: 200px;
    /* Set the width */
    height: 40px;
    /* Set the height */
    border-radius: 25px;
    /* Set the border-radius */
    background-color: #1a3d5f;
    /* Set the background color */
    border: 2px solid #6295c7;
    /* Set the border */
    color: white;
    /* Set the text color */
    font-weight: bold;
    /* Set font weight */
    cursor: pointer;
    /* Set cursor */
    display: flex;
    /* Align text horizontally */
    justify-content: center;
    /* Center text horizontally */
    align-items: center;
    /* Center text vertically */
    margin: 0 5px;
    /* Add margin around buttons */
    text-decoration: none;
    /* Remove underline */
    font-weight: normal;
}

.button:hover {
    background-color: #d5a141;
    /* Change background color on hover */
    border-color: #6295c7;
    /* Change border color on hover */
    text-decoration: none;
    /* Remove underline on hover */
}


.form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    height: 100%;
    background-color: #6295c7;
    /* replace with your preferred color */
    padding: 20px;
    /* add some padding */
    border-radius: 10px;
    /* optional: round the corners */
    /* your styles */
    border-color: #064f7a;
}

form {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 40%;
}

button {
    align-self: flex-end;
    margin-top: auto;
}

label {
    margin-bottom: 1em;
}

select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    /* round the corners */
    background-color: #ddd;
    /* dull color */
    border: none;
}

.checkbox-container>div {
    display: flex;
    align-items: center;
}

.checkbox-container>div>input {
    margin-right: 10px;
}

.radio-container {
    display: flex;
    align-items: center;
}

.radio-container input[type="radio"],
.radio-container label {
    margin: 0;
    padding: 10px;
}

.buttons-container-2-1 {
    display: flex;
    justify-content: center;
    /* Center the buttons horizontally */
    margin-top: 20px;
    padding: 40px;
}

.buttons-container-2-2 {
    display: flex;
    justify-content: center;
    /* Center the buttons horizontally */
    margin-top: 20px;
    padding: 30px;
}

.buttons-container-2-3 {
    display: flex;
    justify-content: center;
    /* Center the buttons horizontally */
    margin-top: 20px;
    padding: 20px;
}

.buttons-container-2-4 {
    display: flex;
    justify-content: center;
    /* Center the buttons horizontally */
    margin-top: 20px;
    padding: 10px;
}

.button-2 {
    width: 350px;
    /* Set the width */
    height: 40px;
    /* Set the height */
    border-radius: 25px;
    /* Set the border-radius */
    background-color: #064f7a;
    /* Set the background color */
    border: 2px solid #064f7a;
    /* Set the border */
    color: white;
    /* Set the text color */
    font-weight: bold;
    /* Set font weight */
    cursor: pointer;
    /* Set cursor */
    display: flex;
    /* Align text horizontally */
    justify-content: center;
    /* Center text horizontally */
    align-items: center;
    /* Center text vertically */
    margin: 0 5px;
    /* Add margin around buttons */
    text-decoration: none;
    /* Remove underline */
    font-weight: normal;
}

.button-2:hover {
    background-color: #d5a141;
    /* Change background color on hover */
    border-color: #064f7a;
    /* Change border color on hover */
    text-decoration: none;
    /* Remove underline on hover */
}


.lottie-container {
    position: absolute;
    top: 50px;
    /* Adjust this value as needed */
    left: 0;
    width: 70%;
    /* Adjust this value as needed */
    height: calc(100% - 50px);
    /* Subtract the same value as the top property */
    z-index: -1;
    /* This ensures the Lottie animation stays behind other content */
}

.text-container,
.form-container {
    position: relative;
    z-index: 1;
    /* Ensure content appears above the Lottie animation */
}

.content-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 150px;
    margin-top: -100px;
    background-color: #ffffff;
}


.content-2 h1 {
    color: #6295c7;
}

.text-container-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    padding: 20px;
    text-align: left;
    animation: slideInFromRight 2s ease-out;
    animation-fill-mode: forwards;
    visibility: hidden;

}

.text-container-2 h1 {
    font-size: 30px;
}

.image-container-2 {
    width: 100%;
    height: 200%;
}

.image-container-2 img {
    max-width: 100%;
    max-height: 100%;
    animation: popout 10s ease forwards;

}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        visibility: visible;
    }

    100% {
        transform: translateX(0);
        visibility: visible;
    }
}

@keyframes popout {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

.form-container-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    height: 200%;
    background-color: #6295c7;
    /* replace with your preferred color */
    padding: 20px;
    /* add some padding */
    border-radius: 10px;
    /* optional: round the corners */
    /* your styles */
    border-color: #064f7a;
}

form {
    display: flex;
    flex-direction: column;
    height: 200%;
}



.content-3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 150px;
    margin-top: -200px;
    background-color: #ffffff;
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        visibility: visible;
    }

    100% {
        transform: translateX(0);
        visibility: visible;
    }
}

.text-container-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    padding: 20px;
    text-align: left;
    animation: slideInFromRight 2s ease-out;
    animation-fill-mode: forwards;
    visibility: hidden;
}


@keyframes popout {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}



.buttons-container-3 {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}

.button-3 {
    width: 200px;
    height: 40px;
    border-radius: 25px;
    background-color: #6295c7;
    border: 2px solid #6295c7;
    color: white;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 0 50px; */
    margin-top: 20px;
    margin-left: 0;
    text-decoration: none;
    font-weight: normal;

}

.button-3:hover {
    background-color: #d5a141;
    border-color: #6295c7;
    text-decoration: none;
}




.form-container-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    height: 200%;
    background-color: #6295c7;
    /* replace with your preferred color */
    padding: 20px;
    /* add some padding */
    border-radius: 10px;
    /* optional: round the corners */
    /* your styles */
    border-color: #064f7a;
}

form {
    display: flex;
    flex-direction: column;
    height: 200%;
}





.content-5 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 150px;
    margin-top: -170px;
    background-color: #ffffff;
}

.content-5 h1 {
    color: #327ebc;
    /* Change to the color you want */
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        visibility: visible;
    }

    100% {
        transform: translateX(0);
        visibility: visible;
    }
}

.text-container-5 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    max-width: 800px;
    padding: 20px;
    text-align: left;
    animation: slideInFromRight 2s ease-out;
    animation-fill-mode: forwards;
    visibility: hidden;

}

.image-container-5 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    height: 100%;
    /* Adjust this value as needed */
}

.image-container-5 img {
    max-width: 100%;
    max-height: 100%;
    animation: popout 1s ease forwards;
}

@keyframes popout {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

.buttons-container-5 {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}

.button-5 {
    width: 250px;
    height: 40px;
    border-radius: 25px;
    background-color: #6295c7;
    border: 2px solid #6295c7;
    color: white;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 0 50px; */
    margin-top: 20px;
    margin-left: 0;
    text-decoration: none;
    font-weight: normal;

}

.button-5:hover {
    background-color: #d5a141;
    border-color: #6295c7;
    text-decoration: none;
}



.form-container-5 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    height: 200%;
    background-color: #6295c7;
    /* replace with your preferred color */
    padding: 20px;
    /* add some padding */
    border-radius: 10px;
    /* optional: round the corners */
    /* your styles */
    border-color: #064f7a;
}

form {
    display: flex;
    flex-direction: column;
    height: 200%;
}